*{margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;}


/* 서울한강체 */
@font-face {
    font-family: 'SeoulHangangM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;}


.all{width: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: blanchedalmond;}





    .container1{height: 1071px;
        position: relative;
        margin: 0 auto;
        background-color: #F0F6F8;
        font-family: 'SeoulHangangM';}

        .menu_box{height: 64px;
            margin-top: 18px;
            display: flex;
            position: absolute;}
            .logo{margin-left: 50px;}
            .button_1{margin-left: 1260px;}
            .button_2{margin-left: 12px;}
            .button_3{margin-left: 15px;}
            .button_4{margin-left: 14px;}
            .button_5{margin-left: 15px;}

            .diary{padding-top: 151px; margin-left: 885px;}

            .wrap1{width: 1570px; height: 675px;
                padding-top: 83px; margin-left: 175px;}

                .box1_1{width: 1570px; height: 55px;
                    display: flex; /* 가로로 정렬 */
                    position: absolute;}
                    .title_1{font-size: 47px;
                        margin-left: 20px;}
                    .s_title_1{font-size: 17px;
                        margin-top: 28px;}
                    .date_1{font-size: 17px;
                        margin-top: 28px; margin-left: 1255px;}

                .box1_2{width: 1570px; height: 620px;
                    margin-top: 55px;
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 30px;}
    





    .container2{height: 742px;
        position: relative;
        margin: 0 auto; /* 가운데 정렬 */
        background-color: #F0F6F8;
        font-family: 'SeoulHangangM';}

        .wrap2{width: 1570px; height: 575px;
            padding-top: 83px; margin-left: 175px;}

            .box2_1{width: 1570px; height: 48px;
                display: flex; /* 가로로 정렬 */
                position: absolute;}
                .title_2{font-size: 47px;
                    margin-left: 20px;}
                .s_title_2{font-size: 17px;
                    margin-top: 28px; margin-left: 10px;}
                .date_2{font-size: 17px;
                    margin-top: 28px; margin-left: 1297px;}

            .box2_2{width: 1570px; height: 520px;
                margin-top: 55px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 30px;}





    .container3{height: 782px;
        position: relative;
        margin: 0 auto; /* 가운데 정렬 */
        background-color: #F0F6F8;
        font-family: 'SeoulHangangM';}

        .wrap3{width: 1570px; height: 626px;
            padding-top: 83px; margin-left: 175px;}

            .box3_1{width: 1570px; height: 48px;
                display: flex; /* 가로로 정렬 */
                position: absolute;}
                .title_3{font-size: 47px;
                    margin-left: 20px;}
                .s_title_3{font-size: 17px;
                    margin-top: 28px; margin-left: 10px;}
                .date_3{font-size: 17px;
                    margin-top: 28px; margin-left: 1297px;}

            .box3_2{width: 1570px; height: 560px;
                margin-top: 55px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 30px;}





    .container4{height: 602px;
        position: relative;
        margin: 0 auto; /* 가운데 정렬 */
        background-color: #F0F6F8;
        font-family: 'SeoulHangangM';}

        .wrap4{width: 1570px; height: 435px;
            padding-top: 83px; margin-left: 175px;}

            .box4_1{width: 1570px; height: 55px;
                display: flex; /* 가로로 정렬 */
                position: absolute;}
                .title_4{font-size: 47px;
                    margin-left: 20px;}
                .s_title_4{font-size: 17px;
                    margin-top: 28px;}
                .date_4{font-size: 17px;
                    margin-top: 28px; margin-left: 1205px;}

            .box4_2{width: 1570px; height: 380px;
                margin-top: 55px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 30px;}





    .container5{height: 502px;
        position: relative;
        margin: 0 auto; /* 가운데 정렬 */
        background-color: #F0F6F8;
        font-family: 'SeoulHangangM';}

        .wrap5{width: 1570px; height: 335px;
            padding-top: 83px; margin-left: 175px;}

            .box5_1{width: 1570px; height: 55px;
                display: flex; /* 가로로 정렬 */
                position: absolute;}
                .title_5{font-size: 47px;
                    margin-left: 20px;}
                .s_title_5{font-size: 17px;
                    margin-top: 28px; margin-left: 10px;}
                .date_5{font-size: 17px;
                    margin-top: 28px; margin-left: 1241px;}

            .box5_2{width: 1570px; height: 280px;
                margin-top: 55px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 30px;}

        .tp{font-size: 17px;
            padding-top: 20px; margin-left: 20px;
            line-height: 20px;}



            
    
    .footer_container{height: 79px;
        position: relative;
        margin: 0 auto;
        background-color: #ACBEC3;}

        .page6{width: 1100px; height: 79px;
            position: absolute;
            margin: 0px 410px 0px 410px;}

            .box6_1{width: 350px; height: 42px;
                margin-left: 59px;}

                .s_logo{padding-top: 19px;}

                .add{padding-top: 4px;
                    font-size: 13px;
                    color: #505050;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: 100;}
                
            .box6_2{width: 228px; height: 27px;
                display: flex; /* 가로로 정렬 */
                align-items: center;
                position: absolute;
                top: 55%;
                left: 45%;
                transform: translate(-50%, -50%);
                padding-left: 853px;}

                .twitter{margin-left: 21.2px;}
                .instagram{margin-left: 20px;}
                .line{margin-left: 19.2px;}
                .tiktok{margin-left: 18.3px;}