*{margin: 0;
padding: 0;
text-decoration: none;
list-style-type: none;}

/* 태백은하수체 */
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;}

/* 서울한강체 */
@font-face {
    font-family: 'SeoulHangangM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;}


.wrap{width: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    transition: position 0.3s ease;}


    .container1{height: 1666px;
        position: relative;
        margin: 0 auto; /* 가운데 정렬 */
        background-color: #F0F6F8;}

        .menu_box{height: 64px;
            margin-top: 18px;
            display: flex; /* 가로로 정렬 */
            position: absolute;}
            .logo{margin-left: 50px;}
            .button_1{margin-left: 1260px;}
            .button_2{margin-left: 12px;}
            .button_3{margin-left: 15px;}
            .button_4{margin-left: 14px;}
            .button_5{margin-left: 15px;}

        .page1{width: 1100px; height: 1666px;
            position: absolute;
            margin: 0px 410px 0px 410px;}

            .interview{margin-top: 151px; margin-left: 413px;}

            .title{font-family: 'SeoulHangangM';
                padding-top: 127px; margin-left: 182px;
                font-size: 43px;}

            .photo{margin: 40px 178px 0px 178px;}

            .text{width: 744px; height: 170px;
            margin: 20px 178px 60px 178px;
            font-size: 20px;
            font-family: 'TAEBAEKmilkyway', sans-serif;
            line-height: 24px;}





    .container2{height: 10737px;
        position: relative;
        margin: 0 auto; /* 가운데 정렬 */
        background-color: #F0F6F8;}

        .page2{width: 1100px; height: 10737px;
            position: absolute;
            margin: 0px 410px 0px 410px;}

            .tit{font-size: 47px;margin-top: 200px;
                font-family: 'SeoulHangangM';}
            .qu{font-size: 25px; margin-top: 45px;
                font-family: 'TAEBAEKmilkyway', sans-serif;
                line-height: 30px;}
            .aw{font-size: 20px; margin-top: 20px;
            color: #002C72;
            font-family: 'TAEBAEKmilkyway', sans-serif;
            line-height: 24px;}
            .text_2{font-size: 31px; margin-top: 5px;
                font-family: 'SeoulHangangM';}
            .caption{font-size: 15px;
                margin-top: 10px;
                font-family: 'TAEBAEKmilkyway', sans-serif;
                line-height: 24px;}



            
    
    .footer_container{height: 79px;
        position: relative;
        margin: 0 auto;
        bottom: 0;
        background-color: #ABBEC3;}

        .page3{width: 1100px; height: 79px;
            position: absolute;
            margin: 0px 410px 0px 410px;}

            .box3_1{width: 350px; height: 42px;
                margin-left: 59px;}

                .s_logo{padding-top: 19px;}

                .add{padding-top: 4px;
                    font-size: 13px;
                    color: #505050;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: 100;}
                
            .box3_2{width: 228px; height: 27px;
                display: flex; /* 가로로 정렬 */
                align-items: center;
                position: absolute;
                top: 55%;
                left: 45%;
                transform: translate(-50%, -50%);
                padding-left: 853px;}

                .twitter{margin-left: 21.2px;}
                .instagram{margin-left: 20px;}
                .line{margin-left: 19.2px;}
                .tiktok{margin-left: 18.3px;}